*{
  margin: 0;
  padding: 0;
  
  font-family: Roboto;
}
body{
  background-color: #F0F2F5;
}
.ant-card-body{
  width:100%;
}

.ant-select .ant-select-selector {
  border-radius:0px;
}
.anticon-crown{
  width: auto !important
}

.result{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-right: 5%;
  align-items: center;
}

.icons{
  margin-top: 2%;
  display: flex;
  gap: 10px
}
.footer{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00000073;
}

.desc{
  display: flex;
  justify-content: center;
  gap: 5%;
}